:root{
    --orange:#11b4b2;;
    --black:#000000;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background-image: url(../images/g-6.jpg);
    background-size: cover;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 520px;
    background: rgb(255 255 255 / 50%);
    border-radius: 15px;

}
.lo{
    text-align: center;
    margin-top: 10px;
}
.logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight:bold;
    text-decoration: none;
    text-align: center;
}
span{
    color:var(--orange);
}
.logo i{
    color:var(--orange);
}
h2{
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}
input[type="text1"],
[type="text2"],
[type="text3"],
[type="text4"],
[type="text5"],
[type="password"],
[type="password2"]{
    position:absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid var(--orange);
    background: none;
    padding: 5px;
    color: rgb(0, 0, 0);
}
input[type="password2"]::placeholder{
    color:var(--light-color);
}

input[type="text"]{
    top: 210px;
    left: 100px;
}
input[type="password"]{
    top: 280px;
    left: 100px;
}
.text{
    position: absolute;
    top: 195px;
    left: 100px;
}

input[type="submit"] {
    position: absolute;
    top: 540px;
    left: 140px;
    width: 150px;
    height: 40px;
    background: var(--orange);
    border: none;
    outline: none;
    color: #000;
    border-radius: 15px;
    font-size: 25px;
}
input[type="submit"]:hover{
    background: var(--black);
    color: #fff;
}
p ,.sign{
    position: absolute;
    top: 430px;
    left: 100px;
    color: var(--black);
    cursor: pointer;
}
p:hover{
    color: var(--orange);
}
.sign{
    left: 250px;
    text-decoration: underline;
}
/**************************************/
.signup-form{
    height: 650px;
}
.login{
    left: 190px;
    top: 600px;
}
input[type="button2"] {
    top: 540px;
    left: 141px;
    text-align: center;
}
input[type="text1"]{
    top: 190px;
    left: 100px;
}
input[type="text2"]{
    top: 240px;
    left: 100px;
}
input[type="text3"]{
    top: 290px;
    left: 100px;
}
input[type="text4"]{
    top: 340px;
    left: 100px;
}
input[type="text5"]{
    top: 390px;
    left: 100px;
}
input[type="password"]{
    top: 440px;

}
input[type="password2"]{
    top: 490px;
    left: 100px;
}
